{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

<div class="card bg-light instructions">
    <div class="card-body">

<!-- ISTRUZIONI-->

<div class="row">
   <div class="col-sm-12">
     <div class="alert alert-primary" role="alert" style="text-align:center">
       <h3> INSTRUCTIONS 2 </h3>
     </div>
   </div>
 </div>

 <div class="row">
    <div class="col-sm-12">
      <div style="text-align: justify; font-size: 1.1rem;">
      <p><strong>Round 2 to 6</strong></p>
      <p>If you decide to proceed, you will access five more rounds. In each round you will be asked to think about the person with whom you could be matched. In particular, you will see a possible description of which type of co-participant you could be matched with, based on their answers to the same short survey that you have filled in at the end of the activity. </p>
      <p> At this point, for each type of co-participant, you can decide to confirm or revise your round 1 choice. </p>
      <p> For example, let’s consider a characteristic that will not be used in this activity: your co-participant’s date of bith, as shown in Figure 2. </p>
      <p> As you can see at the top of the screen, in each of the following rounds, you will be reminded of your round 1 choice.</p>
      <p> For each type, you have to decide whether to confirm your round 1 choice or to change it.</p>

        &nbsp;
        &nbsp;
      <img src="{{ static 'discrimination_1/figure_2.png' }}" class="rounded mx-auto d-block" width = "500"/>
      &nbsp;
      &nbsp;
      <p> In each round you will see a different characteristic.</p>

      </div>
</div>
</div>

    <div class="row mt-4">
    <div class="col-sm-12 text-center">
            <button type="submit" id="btn_continue" class="btn btn-primary btn-lg">Next</button>
    </div>
    </div>

    {% endblock %}

    {% block scripts %}
    <script>
    $(document).ready(function(){
    });
    $("#btn_submit").click(function(){
    $("#id_proceed").val(1);
    $("#form").submit()
    });

    </script>



    {% endblock %}
