{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}
<div class="card bg-light instructions">
    <div class="card-body">

<!-- ISTRUZIONI-->

<div class="row">
   <div class="col-sm-12">
     <div class="alert alert-primary" role="alert" style="text-align:center">
       <h3> INSTRUCTIONS 3 </h3>
     </div>
   </div>
 </div>

 <div class="row">
    <div class="col-sm-12">
      <div style="text-align: justify; font-size: 1.1rem;">
        <p><strong>Matching and payment</strong></p>

        <p> After completing the activity, you may return to Prolific. Once all participants in this session have finished the activity, matching will be carried out and bonus payments will be processed.</p>
        <p> If you stopped at round 1, a co-participant will be randomly selected, and your payment and that of your co-participant will depend on your choices in that round.</p>
        <p> If instead you continued, one the X rounds, a category, and a co-participant will be randomly drawn. Based on the co-participant’s characteristics in that category and in that round, your choice will be implemented and both your payment and that of your co-participant will be determined.</p>
        <p> In a few days  you will receive a message with a link where you check the outcome of the activity </p>
        <p> You have finished reading the instructions. If anything is unclear, go back and read that part of the instructions again. If you understand everything, please proceed to the control questions.</p>

      </div>
    </div>
</div>


<div class="row">
   <div class="col-sm-12 text-center">
   <button type="button" id = "btn_submit" class="btn btn-outline-primary btn-lg"> Proceed to the control questions</button>

 </div>

</div>


    {% endblock %}

    {% block scripts %}
    <script>
  		$(document).ready(function(){
      });
  		$("#btn_submit").click(function(){
      $("#id_proceed").val(1);
  			$("#form").submit()
  	  	});

  </script>



    {% endblock %}
