{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

<div class="card bg-light instructions">
    <div class="card-body">

<!-- ISTRUZIONI-->

<div class="row">
   <div class="col-sm-12">
     <div class="alert alert-primary" role="alert" style="text-align:center">
       <h3> INSTRUCTIONS 2 </h3>
     </div>
   </div>
 </div>

 <div class="row">
    <div class="col-sm-12">
      <div style="text-align: justify; font-size: 1.1rem;">
      <p><strong>Round 2</strong></p>
      <p>If you decide to move to round 2, you will be asked to think about the person with whom you could be matched. In particular, you will see a possible description of what type of co-participant you could be matched, based on his/her answers to the same short survey that you have filled in at the beginning of the experiment. </p>
      <p> At this point, for each type of co-participant, you can decide to confirm or revise your round 1 choice. </p>
      <p> For example, let’s consider a characteristic that will not be used in this activity: your co-participant’s height , as shown in Figure 2. </p>
      <p> As you can see at the top of the screen, you are reminded of your first-round choice. Then, there is a short description of the type of co-participant you could be matched with, based on that characteristic.</p>
      <p> For each type, you have to decide whether to confirm your first-round choice or to change it.</p>

        &nbsp;
        &nbsp;
      <img src="{{ static 'discrimination/figure_2.png' }}" class="rounded mx-auto d-block" width = "500"/>
      &nbsp;
      &nbsp;
      <p> Finally you will be asked to rank them on a scale from 1 to 5, where 1 is the most important characteristic for you. </p>
      <p> After you have made your ranking, we will randomly choose one of the five characteristics to match you with a specific co-participant. </p>
      <p> The probability that a revised decision based on the types in one characteristic will be choosen depends on your ranking. See table below </p>

      <table style="border-collapse: collapse; text-align: center; width: 300px; margin: 0 auto;">
          <tr>
            <th style="border-top: 1px solid black; border-bottom: 1px solid black; padding: 6px;">Rank</th>
            <th style="border-top: 1px solid black; border-bottom: 1px solid black; padding: 6px;">Probability</th>
        </tr>
        <tr>
            <td style="padding: 6px;">First</td>
            <td style="padding: 6px;">100%</td>
        </tr>
        <tr>
            <td style="padding: 6px;">Second</td>
            <td style="padding: 6px;">90%</td>
        </tr>
        <tr>
            <td style="padding: 6px;">Third</td>
            <td style="padding: 6px;">80%</td>
        </tr>
        <tr>
            <td style="border-bottom: 1px solid black; padding: 6px;">Fourth</td>
            <td style="border-bottom: 1px solid black; padding: 6px;">70%</td>
        </tr>
      </table>
      &nbsp;
      <p>	Then if the category you ranked first is chosen, your revised decision based on the types in that category will be implemented with 100% probability;</p>
      <p>	if the category you ranked second is chosen, your revised decision based on the types in that category will be implemented with 90% probability, and with 10% probability your first-round decision will be implemented, which disregards your co-participant’s type;</p>
      <p> And so on. </p>

    </div>
</div>
</div>

    <div class="row mt-4">
    <div class="col-sm-12 text-center">
            <button type="submit" id="btn_continue" class="btn btn-primary btn-lg">Next</button>
    </div>
    </div>

    {% endblock %}

    {% block scripts %}
    <script>
    $(document).ready(function(){
    });
    $("#btn_submit").click(function(){
    $("#id_proceed").val(1);
    $("#form").submit()
    });

    </script>



    {% endblock %}
