{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

<div class="card bg-light instructions">
    <div class="card-body">

<!-- ISTRUZIONI-->

<div class="row">
   <div class="col-sm-12">
     <div class="alert alert-primary" role="alert" style="text-align:center">
       <h3> END OF ACTIVITY</h3>
     </div>
   </div>
 </div>

 <div class="row">
    <div class="col-sm-12">
      <div style="text-align: justify; font-size: 1.1rem;">
<p> This is the end of the activity. </p>
{% if role == 1 %}
      <p> <strong> You are participant A </strong> </p>
      <p> Stage <b> {{stage}} </b> and co-participant <b> {% if coparticipant == 1 %} B {% else %} C {% endif %}</b> were randomly selected </p>
      <p> In that stage:
        <ul>
          <li> you sent {% if coparticipant == 1 %} {% if stage == 2%} {{choice_2_A_B}} {% else %} {{choice_3_A_B}} points to B {% endif%} {% else %} {% if stage == 2%} {{choice_2_A_C}} {% else %} {{choice_3_A_C}} {% endif%} points to C{% endif%}.
          <li> {% if coparticipant == 1 %} B sent you {% if stage == 2%} {{choice_2_B_A}} {% else %} {{choice_3_B_A}} {% endif%} {% else %}  C sent you {% if stage == 2%} {{choice_2_C_A}} {% else %} {{choice_3_C_A}} {% endif%} {% endif%} points.
        </ul>
      <p> In that stage you earned <b> {{payoff}} </b> corresponding to ...euro </p>
{% elif role == 2 %}
      <p> <strong> You are participant B </strong> </p>
      <p> Stage <b> {{stage}} </b> and co-participant <b> {% if coparticipant == 1 %} A {% else %} C {% endif %} </b> were randomly selected </p>
      <p> In that stage:
        <ul>
          <li> you sent {% if coparticipant == 1 %} {% if stage == 2%} {{choice_2_B_A}} {% else %} {{choice_3_B_A}} points to A {% endif%} {% else %} {% if stage == 2%} {{choice_2_B_C}} {% else %} {{choice_3_B_C}} {% endif%} points to C {% endif%}.
          <li> {% if coparticipant == 1 %} A sent you {% if stage == 2%} {{choice_2_A_B}} {% else %} {{choice_3_A_B}} {% endif%} {% else %}  C sent you {% if stage == 2%} {{choice_2_C_B}} {% else %} {{choice_3_C_B}} {% endif%} {% endif%} points.
        </ul>
      <p> In that stage you earned <b> {{payoff}} </b> corresponding to ...euro </p>
{% else %}
      <p> <strong> You are participant C </strong> </p>
      <p> Stage <b> {{stage}} </b> and co-participant <b> {% if coparticipant == 1 %} A {% else %} B {% endif %} </b> were randomly selected </p>
      <p> In that stage:
        <ul>
          <li> you sent {% if coparticipant == 1 %} {% if stage == 2%} {{choice_2_C_A}} {% else %} {{choice_3_C_A}} points to A {% endif%} {% else %} {% if stage == 2%} {{choice_2_C_B}} {% else %} {{choice_3_C_B}} {% endif%} points to B {% endif%}.
          <li> {% if coparticipant == 1 %} A sent you {% if stage == 2%} {{choice_2_A_C}} {% else %} {{choice_3_A_C}} {% endif%} {% else %}  B sent you {% if stage == 2%} {{choice_2_B_C}} {% else %} {{choice_3_B_C}} {% endif%} {% endif%} points.
        </ul>


      <p> In that stage you earned <b> {{payoff}} </b> corresponding to ...euro </p>
{% endif %}

    </div>
    </div>
  </div>


    <div class="row mt-4">
    <div class="col-sm-12 text-center">
            <button type="submit" id="btn_continue" class="btn btn-primary btn-lg">Next</button>
    </div>
    </div>

    {% endblock %}

    {% block scripts %}
    <script>
    $(document).ready(function(){
    });
    $("#btn_submit").click(function(){
    $("#id_proceed").val(1);
    $("#form").submit()
    });

    </script>



    {% endblock %}
