{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

<div class="card bg-light instructions">
    <div class="card-body">

<!-- ISTRUZIONI-->

<div class="row">
   <div class="col-sm-12">
     <div class="alert alert-primary" role="alert" style="text-align:center">
       <h3> INSTRUCTIONS 1 </h3>
     </div>
   </div>
 </div>

 <div class="row">
    <div class="col-sm-12">
      <div style="text-align: justify; font-size: 1.1rem;">

      <p>  In this experiment, you will take part in a three-stage activity. </p>
      <p>  At the start of the experiment, you will be randomly assigned a position in a three-person network: A, B, or C. </p>
      <p> One third of participants will be randomly assigned to each type. Types will remain constant throughout the experiment.</p>
      <p>  The network you are in will be displayed in a separate window on the right-hand side of the screen.</p>
      <p>  Figure 1 below shows the setup.</p>
        &nbsp
        <img src="{{ static 'network/figure_1.png' }}" class="rounded mx-auto d-block" width = "500"/>
        <div style="text-align: center; font-size: 1.0rem;"> Figure 1 </div>
        &nbsp
        &nbsp
        <p> Each participant interacts with both other participants at the same time. We call them co-participants. For example, if you are A, you will interact with one B-type and one C-type co-participant at the same time.</p>




    </div>
    </div>
  </div>


    <div class="row mt-4">
    <div class="col-sm-12 text-center">
            <button type="submit" id="btn_continue" class="btn btn-primary btn-lg">Next</button>
    </div>
    </div>

    {% endblock %}

    {% block scripts %}
    <script>
    $(document).ready(function(){
    });
    $("#btn_submit").click(function(){
    $("#id_proceed").val(1);
    $("#form").submit()
    });

    </script>



    {% endblock %}
