{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

<div class="card bg-light instructions">
    <div class="card-body">

<!-- ISTRUZIONI-->

<div class="row">
   <div class="col-sm-12">
     <div class="alert alert-primary" role="alert" style="text-align:center">
       <h3> INSTRUCTIONS 2 </h3>
     </div>
   </div>
 </div>

 <div class="row">
    <div class="col-sm-12">
      <div style="text-align: justify; font-size: 1.1rem;">
      <p><strong>      Stage 1: Stated intention </strong></p>
    <p>  At the beginning of Stage 1, you will do an activity with each of your co-participants. You will have two different interactions: one with each of them - see Figure 2.</p>
For each interaction, at the beginning you are endowed with 10 points. You decide how many points to send to your co-participants. Each point you send will be doubled and given to them (see Figure 2).
  <p>  You keep any points that you do not send.</p>

        &nbsp;
        &nbsp;

      <img src="{{ static 'network/figure_2.png' }}" class="rounded mx-auto d-block" width = "300"/>
      <div style="text-align: center; font-size: 1.0rem;"> Figure 2 </div>

      &nbsp;
      &nbsp;
      <p>Your co-participants will do the same.</p>
      <p>Your earnings are calculated in points and converted into pounds at the end of the experiment at a rate of 1 point = 0.10 Pounds.</p>
      <p>For each interaction, your earnings are calculated as follows:</p>
      </div>
      <div style="text-align: justify; font-size: 1.0rem;"><p><p class="math-like">Points Earned = Your initial 10 points – (points you send to the co-participant) + (2×points sent by the co-participant to you).</p> </div>
      <div style="text-align: justify; font-size: 1.1rem;">
      <br>
      <div style="margin-left: 30px;">
      <p><strong> Example: </strong> </p>
      <p>  Suppose you are A interacting with participant B. </p>
    	<p>If you send 2 points and B sends you 3 points, your earnings are: 10-2+(2×3)=14,</p>
    	<p>B earns: 10-3+(2×2)=11.</p>

      <p>If you send 3 points and B sends you 4 points your earnings are: 10-3+(2×4)=15,</p>
      <p>B earns: 10-4+(2×3)=12.</p>
      <br>
      </div>
      <p>The earnings formula applies separately to each interaction.</p>
      <p>In Stage 1, you are first asked how many points you intend to send to each of your co-participants. All players report their intentions (how many points they intend to send). Next, you will see the stated intentions of your co-participants on your screen.</p>


      </div>
</div>
</div>

    <div class="row mt-4">
    <div class="col-sm-12 text-center">
            <button type="submit" id="btn_continue" class="btn btn-primary btn-lg">Next</button>
    </div>
    </div>


    <style>
    body .math-like {
        font-family: "Cambria Math", "Times New Roman", serif !important;
        font-style: italic !important;
    }
    </style>

    {% endblock %}

    {% block scripts %}
    <script>
    $(document).ready(function(){
    });
    $("#btn_submit").click(function(){
    $("#id_proceed").val(1);
    $("#form").submit()
    });

    </script>



    {% endblock %}
