{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}
<input type="hidden" name="re_read" id="id_re_read">

<div class="card bg-light instructions">
    <div class="card-body">

<!-- ISTRUZIONI-->

<div class="row">
   <div class="col-sm-12">
     <div class="alert alert-primary" role="alert" style="text-align:center">
       <h3> INSTRUCTIONS 4 </h3>
     </div>
   </div>
 </div>

 <div class="row">
    <div class="col-sm-12">
      <div style="text-align: justify; font-size: 1.1rem;">
        <p><strong>Part 3: Second decision </strong></p>

        <p> In Part 3, you may see some extra information about your co-participants. What you see depends on your role in the network.  </p>
        <p> First, you may see how many points your co-participants sent to you in Part 2, and whether this matched what they said they planned to send in Part 1.</p>
        <p> Second, you may receive some information about how your co-participants interacted with each other. This information may include: </p>
        <ul>
          <li>	what they said they planned to send in Part 1; and </li>
          <li>	what they actually sent in Part 2. </li>
        </ul>
        <p>The information that each person sees depends on their position in the network.For example, consider the network shown in Figure 3.</p>

        &nbsp;
        &nbsp;

      <img src="{{ static 'network/figure_3.png' }}" class="rounded mx-auto d-block" width = "600"/>
      <div style="text-align: center; font-size: 1.0rem;"> Figure 3 </div>

      &nbsp;
      &nbsp;

      <p> After seeing this information, you will make one final decision about how many points to send to each of your two co-participants.</p>
      <p>This decision cannot be changed.</p>
      <p> After this, the actvity ends. </p>

      </div>
    </div>
</div>

<div class="row mt-4">
<div class="col-sm-12 text-center">
        <button type="submit" id="btn_continue" class="btn btn-primary btn-lg">Next</button>
</div>
</div>


</div>

{% endblock %}

{% block scripts %}
<script>
$(document).ready(function(){
});
$("#btn_submit").click(function(){
$("#id_proceed").val(1);
$("#form").submit()
});

</script>



    {% endblock %}
