{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

<div class="card bg-light instructions">
    <div class="card-body">

<!-- ISTRUZIONI-->


 <div class="row">

      <div class="alert alert-success" role="alert" style="text-align:center">
        <h3> INSTRUCTIONS</h3>

    </div>
  </div>
<div class="container">
  <div class="row">

    <div class="col-sm">
      <div align="justify">


<font size="4">

  <div style="text-align: justify;">
    <!-- subject is 3, sovereign is 1 -->
    <p><strong>Introduction</strong></p>
    <p>In this activity, you will interact with two participants designed as Person 2 and Person 3, while you are labelled Person 1. Like you, Person 2 and 3 have participated in the survey indicating “Immigration” as their most relevant topic (among five possibilities: immigration, gender, LGBTQ+, climate change, welfare).</p>
    {% if treatment == 2 %}
    <!-- citizens coalition -->
    <p> In the survey Person 2 and Person 3 have provided a similar answer to question X: [details], while you have provided a different answer </p>
    {% elif treatment == 3 %}
    <!-- citizens-sovereign coalition CHECK: ALSO WITH PERSON 2? -->
    <p> In the survey you and Person 2 have provided a similar answer to question X: [details] while Person 3 has provided a different answer </p>
    {% elif treatment == 4 %}
    <!-- citizens-sovereign coalition CHECK: ALSO WITH PERSON 2? -->
    <p> In the survey you and Person 3 have provided a similar answer to question X: [details] while Person 2 has provided a different answer </p>
    {% endif %}
    <p>These other two individuals have also received this information about others' opinions on this topic. <p>

    <p><strong>The activity</strong></p>
<p>You move first, and will choose one of four options: A, B, C, D. Depending on your choice, you, Person 2 and  Person 3 will end up in different earning boxes (see the figure below)</p>
  &nbsp

    <img src="{{ static 'weingast_sovereign/figure_1.jpg' }}" class="rounded mx-auto d-block" width = "300"/>

    &nbsp
    &nbsp
    <p> In this study earnings will be computed using "points" as currency units. </p>
    <p> At the end of the study, points will be converted in pounds at the exchange rate of 1 point= £ X.</p>
<p>In the next page you will see the content of the earnings boxes. In each box Person 1 and Person 2 have the possibility to choose one of two options, and you, Person 2 and Person 3 will earn different amounts depending on the combination of your choices </p>

  </div>

</div>

</div>
</div>

&nbsp





&nbsp
<!--		BOTTONE PROSEGUI	2	-->

 <div class="row">
    <div class="col-sm-12 text-center">
    <button type="button" id = "btn_submit" class="btn btn-outline-primary btn-lg"> Next </button>

 </div>

 </div>

 &nbsp



{% endblock %}




{% block scripts %}
	<script>
		$(document).ready(function(){
		});

		$("#btn_submit").click(function(){
			$("#form").submit()
	  	});

</script>


{% endblock %}
