{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}




<!-- ISTRUZIONI-->

<div class="row">

     <div class="alert alert-success" role="alert" style="text-align:center">
       <h3> INSTRUCTIONS 2</h3>

   </div>
 </div>

<div class="container-xxl" >
  <div class="row">

    <div class="col-lg">

      <div align="justify">




<font size="4">

  <div style="text-align: justify;">
    <!-- subject is 3, sovereign is 1 -->
    <p><strong>The four earnings boxes</strong></p>
    <p>In this page you can see the four boxes in which you, Person 2 and Person 3 could end up depending on your decision.
    <p>Do not worry if you are unable to examine the details of the figure at this stage. In the following pages, you will have the opportunity to view each box individually and assess their content more carefully. Here, we will provide only an overall description of the activity.</p>

      &nbsp
      &nbsp
    <img src="{{ static 'weingast_sovereign/figure_2ter_sov.jpg' }}" class="rounded mx-auto d-block" width = "600"/>
  </div>
    </div>
      </div>
  <div class="col-lg">
    &nbsp
    <p><b> If you choose A, Person 2 and 3 will end up in Earnings box A</b>.
    <p> If both Person 2 and Person 3 choose X, then earnings are paid as shown in the box in the upper left cell of  the table in that box.
     If both Person 2 and Person 3 choose Y, then earnings are paid as shown in the lower right cell of the table. The other two boxes indicate earnings when one person chooses X and the other chooses Y.</p>
    <p>To illustrate with a random example: if you choose earnings box A, Person 2 chooses Y and Person 3 chooses X, then you earn 12 points, Person 2 earns 2 points, and Person 3 earns 1 points. </p>
    &nbsp
    <p> <b> If you choose B, C, or D , Person 2 and 3 will end up in B, C, or D respectively</b>, and the payments will be determined in the same way.</p>
    <p> In the next screen you will be asked to choose one of the boxes. </p>
    <p> Once you have made your choices we will ask you to complete a short questionnaire. At that point you can go back to Prolific to complete your submission and receive the fixed payment. </p>
    <p> Once we have collected the choices of participants assigned the roles of Person 2 and Person 3, we will match their choices with yours and calculate the final payment, which will be paid as a bonus on Prolific. This process may take a couple of days. </p>
    <p> Before proceeding with your choices we will ask you to answer four control questions. </p>
    <p>You must provide correct answers to all the questions, and to do this, you have two attempts.</p>
    <p>Once you submit your answers to the control questions, if you made one or more mistakes, you will receive feedback indicating which answers were incorrect.</p>
    <p>At this point, you will have access to a new attempt. If you fail to provide the correct answers to the four questions also at the second attempt, you will be asked to exit the activity.</p>
    </div>


</div>


</div>
</div>
</div>
</div>






&nbsp
<!--		BOTTONE PROSEGUI	2	-->

<div class="row">
   <div class="col-sm-12 text-center">
   <button type="button" id = "btn_submit" class="btn btn-outline-primary btn-lg"> Next </button>

</div>

 </div>

 &nbsp


{% endblock %}




{% block scripts %}
	<script>
		$(document).ready(function(){
    });
		$("#btn_submit").click(function(){
    $("#id_proceed").val(1);
			$("#form").submit()
	  	});


</script>



{% endblock %}
