{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

<div class="card bg-light instructions">
    <div class="card-body">

<!-- ISTRUZIONI-->


 <div class="row">

      <div class="alert alert-success" role="alert" style="text-align:center">
        <h3> INTRODUCTION</h3>

    </div>
  </div>
<div class="container">
  <div class="row">

    <div class="col-sm">
      <div align="justify">


<font size="4">

  <div style="text-align: justify;">
    <!-- subject is 3, sovereign is 1 -->
    <p>In this activity, you will interact with two participants designed as Person 2 and Person 3, while you are labelled Person 1. </p>
    <p> <b> Like you, Person 2 and 3 have participated in the survey indicating  {% if topic == 1 %} “immigration” {% elif topic == 2 %} “gender” {% elif topic == 3 %} "LGBTQ+" {% elif topic == 4 %} "climate change" {% else %} "welfare" {% endif %} as topic they consider as the most relevant (among five possibilities: immigration, gender, LGBTQ+, climate change, welfare).</b></p>
    <b>
    {% if treatment == 2 %}
    <!-- citizens coalition -->
    <p> In the survey Person 2 and Person 3 have provided similar answers to the questions related to this topic, while you have provided different answers (look at the PDF below for a techical explanation of the calculation of the index of similarity between answers) </p>
    {% elif treatment == 3 %}
    <!-- citizens-sovereign coalition CHECK: ALSO WITH PERSON 2? -->
    <p> In the survey, you and Person {% if person == 2 %} 2  {% else %}  3 {% endif %} have provided similar answers to the questions related to this topic, while Person {% if person == 2 %} 3 {% else %} 2 {% endif %} has provided a different answer different answers (look at the PDF below for a techical explanation of the calculation of the index of similarity between answers) </p>
    {% endif %}
    </b>
    <p>These other two individuals have also received this information about others' opinions on this topic. <p>


  </div>

</div>

</div>
</div>

&nbsp





&nbsp
<!--		BOTTONE PROSEGUI	2	-->

 <div class="row">
    <div class="col-sm-12 text-center">
    <button type="button" id = "btn_submit" class="btn btn-outline-primary btn-lg"> Next </button>

 </div>

 </div>

 &nbsp



{% endblock %}




{% block scripts %}
	<script>
		$(document).ready(function(){
		});

		$("#btn_submit").click(function(){
			$("#form").submit()
	  	});

</script>


{% endblock %}
