{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}
<input type="hidden" name="choice_D" id="id_choice_D">

<!-- [Risk taking risky benefit - Baseline scenario 1] -->

<div class="card bg-light instructions">
    <div class="card-body">

<!-- ISTRUZIONI-->


 <div class="row">

      <div class="alert alert-success" role="alert" style="text-align:center">
        <h3> FIRST DECISION: EARNINGS BOX D</h3>

    </div>
  </div>
<div class="container">
  <div class="row">

    <div class="col-sm">
      <div align="justify">


<font size="4">

    <div style="text-align: justify;">

        <p> Now we ask you too decide which option you would whoose <b> if Person 1 chooses earning box D. </b></p>
        <p> Press one of the buttons to make your choice and see your possible payoffs. You can change your choice as many times as you want, press NEXT to confirm.</p>
  &nbsp
  <table class="table table-sm">

    <tbody>
    <tr  class="text-center">
        <td scope="col"></td>
        <td colspan="2"> <b> Person 2's choice </b></td>
    </tr>
      <tr class="text-center">
        <td class="text-center" scope="col"></td>
        <td class="text-center" scope="col">X</td>
        <td class="text-center" scope="col">Y</td>
      </tr>
    <tr  class="text-center" id="rx">
       <td scope="col"> <button type="button" id = "bx" class="btn btn-outline-primary btn-lg"> X </button></td>
         <td scope="col" class="text-center">Person 1 receives 6<br> Person 2 receives 8 <br> You receive 8</td>
         <td scope="col">Person 1 receives 8<br> Person 2 receives 8 <br> You receive 7</td>
    <tr>
    <tr  class="text-center" id="ry">
         <td scope="col"> <button type="button" id = "by" class="btn btn-outline-primary btn-lg"> Y </button></td>
           <td scope="col" class="text-center">Person 1 receives 6<br> Person 2 receives 7 <br> You receive 8</td>
           <td scope="col">Person 1 receives 0<br> Person 2 receives 7 <br> You receive 7</td>
      <tr>
    </tbody>
    </table>
    &nbsp

    <p>  <font size="4">  With this choice, if Person 2 chooses X you will earn <b> <span id="payoff_3_x" >. </span> </b> points </span>, if Person 2 chooses Y you will earn <b>  <span id="payoff_3_y" > . </span> </b> points. </span> </p>

      </div>
      </div>
      </div>


</div>

</div>
</div>
</div>



&nbsp
<!--		BOTTONE PROSEGUI	2	-->
<div class="col-sm-12 text-center">
          {% next_button %}
</div>

 </div>



	</div>




{% endblock %}







{% block scripts %}


<script>

$(document).ready(function(){
		});
// EVENTI SLIDERS





// BOTTONE

$(document).ready(function(){


		$("#bx").click(function(){

    		$(this).css('background','lightblue');

    		$("#rx").css('background','lightblue');
    		$("#by").css('background','white');
    		$("#ry").css('background','white');

	  		$("#id_choice_D").val(1);
	  		attiva();
		});


		$("#by").click(function(){

    		$(this).css('background','lightblue');

    		$("#ry").css('background','lightblue');
    		$("#bx").css('background','white');
    		$("#rx").css('background','white');

	  		$("#id_choice_D").val(2);
	  		attiva();
		});





		function attiva(){
		var choice_D=$("#id_choice_D").val();
		var payoff_3_x= 0;
    var payoff_3_y= 0;
    if (choice_D == 1) {
      payoff_3_x = 8;
      payoff_3_y = 7}
    else {
      payoff_3_x = 8;
      payoff_3_y = 7}


    payoff_3_x_show = payoff_3_x.toFixed(0);
    payoff_3_y_show = payoff_3_y.toFixed(0);

		$("#payoff_3_x").html(payoff_3_x_show).val();
    $("#payoff_3_y").html(payoff_3_y_show).val();

		}
});

</script>



{% endblock %}
