{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}




<!-- ISTRUZIONI-->

<div class="row">

     <div class="alert alert-success" role="alert" style="text-align:center">
       <h3> PRELIMINARY TASK</h3>

   </div>
 </div>

<div class="container-xxl" >
  <div class="row">

    <div class="col-lg">

      <div align="justify">




<font size="4">

  <div style="text-align: justify;">
    <!-- subject is 3, sovereign is 1 -->

    <p> On your computer screen you will see a table consisting of 100 boxes.  </p>
    <p> 99 boxes out of 100 boxes contain 1 penny each, and 1 box contains a bomb. </p>
    <p> The computer will select at random the box in which the bomb will be placed. The bomb could be in any of the 100 boxes with the same chance. You must decide how many boxes you want to collect. </p>
    <p> If you do not collect the box which contains the bomb, you obtain 1 penny for each collected box. </p>
    <p> Therefore, the amount of British Pounds that enter into your possession will be equal to 1 penny multiplied by the number of boxes collected.  </p>
    <p> If you pick up the box containing the bomb, the bomb will explode by reducing your earnings in this task to zero. </p>
    <p> As the number of boxes you collect increases, so does the potential gain in this task, provided you do not collect the bomb;however, as the number of boxes you collect increases, so does the probability of picking the bomb and thus the chance of your earnings being zero in this task. </p>
    <p> <b>Note that your earning in this task does not affect the earning obtained in the two decisions described above, which you will undertake after this task is concluded. </b> </p>
    <p> Once you have indicated the number of boxes you want to collect press the 'Stop' button. The collected boxes will be highlighted. Once you press the “Stop” button, you will no longer be able to change the number of boxes. By pressing the “Solve” button, the highlighted boxes will be collected. </p>
    <p> <b>At the end of the study – once that you have completed the main activity described before – you will be informed about the amount of money (in GBP) you have earned in this preliminary task. </b> </p>




</div>


</div>
</div>
</div>
</div>






&nbsp
<!--		BOTTONE PROSEGUI	2	-->

<div class="row">
   <div class="col-sm-12 text-center">
   <button type="button" id = "btn_submit" class="btn btn-outline-primary btn-lg"> Next </button>

</div>

 </div>




{% endblock %}




{% block scripts %}
	<script>
		$(document).ready(function(){
    });
		$("#btn_submit").click(function(){
    $("#id_proceed").val(1);
			$("#form").submit()
	  	});


</script>



{% endblock %}
