{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

<div class="card bg-light instructions">
    <div class="card-body">

<!-- ISTRUZIONI-->

<div class="row">
   <div class="col-sm-12">
     <div class="alert alert-primary" role="alert" style="text-align:center">
       <h3> NO MATCH</h3>
     </div>
   </div>
 </div>

 <div class="row">
    <div class="col-sm-12">
      <div style="text-align: justify; font-size: 1.1rem;">
        <p>
        Unfortunately, we could not match you with enough other participants.
        Please return to Prolific using the button below.
        You will be paid 4 GBP.
    </p>
    <form>
    <input type="button" value="Back to Prolific" onclick="window.location.href='https://app.prolific.co/submissions/complete?cc=8ACBDEB6'" />
    </form>


    {% endblock %}

    {% block scripts %}
    <script>
    $(document).ready(function(){
    });
    $("#btn_submit").click(function(){
    $("#id_proceed").val(1);
    $("#form").submit()
    });

    </script>



        {% endblock %}
