{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

<div class="card bg-light instructions">
    <div class="card-body">

<!-- ISTRUZIONI-->


 <div class="row">
    <div class="col-sm-12">
      <div style="text-align: justify; font-size: 1.1rem;">

    <form>
    <input type="button" value="Back to Prolific" onclick="window.location.href='https://app.prolific.co/submissions/complete?cc=88888888'" />
    </form>


    {% endblock %}

    {% block scripts %}
    <script>
    $(document).ready(function(){
    });
    $("#btn_submit").click(function(){
    $("#id_proceed").val(1);
    $("#form").submit()
    });

    </script>



        {% endblock %}
