{% extends "global/Page.html" %}

{% block title %}Welcome!{% endblock %}
{% block content %}


<div class="panel panel-default" style="margin-bottom:10px">
  <div class="panel-body">

      <p>To proceed, please first access the Zoom meeting pressing this button</p>

      <button
          type="button"
          class="btn btn-primary"
          onclick="joinZoom()">
          Join Zoom
      </button>

      <p>Passcode: 522466</p>

    <p> and then press the button below to start the activity

  </div>
</div>

<button id="nextBtn" class="otree-btn-next btn btn-primary" disabled>
CLICK HERE TO START THE ACTIVITY
</button>
{% endblock %}
{% block scripts %}
<script>
function joinZoom() {
  window.open(
      'https://unitn.zoom.us/j/84977457371?pwd=522466',
      '_blank'
  );

  document.getElementById('nextBtn').disabled = false;
}
</script>
{% endblock %}
