{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

<div class="card bg-light instructions">
    <div class="card-body">

<!-- ISTRUZIONI-->

<div class="row">
   <div class="col-sm-12">
     <div class="alert alert-primary" role="alert" style="text-align:center">
       <h3> END OF PART 1</h3>
     </div>
   </div>
 </div>

 <div class="row">

      <div class="col-md-6 small border p-3">
        <div style="text-align: justify;">
      <div style="text-align: justify; font-size: 1.1rem;">
{% if role == 1 %}
      <p> <strong> You are participant A </strong> </p>
      <p>  Co-participant <b>B

      </b>stated the intention to send you <b> {{choice_1_B_A}}</b> points. </p>
      <p>  Co-participant<b> C </b>stated the intention to send you <b>{{choice_1_C_A}} </b>points. </p>
{% elif role == 2 %}
    <p> <strong> You are participant B </strong> </p>
    <p>  Co-participant <b>A </b>stated the intention to send you <b>{{choice_1_A_B}} </b>points. </p>
    <p>  Co-participant <b>C </b>stated the intention to send you <b>{{choice_1_C_B}} </b>points. </p>
{% else %}
    <p> <strong> You are participant C </strong> </p>
    <p>  Co-participant <b>A </b>stated the intention to send you <b>{{choice_1_A_C}} </b>points. </p>
    <p>  Co-participant <b>B </b>stated the intention to send you<b> {{choice_1_B_C}} </b>points. </p>
{% endif %}
</div>


    </div>
    </div>

    {% if network == 1 %}
          <div class="col-md-6 text-justify small border p-3" style="font-size: 0.85rem;">

            <img src="{{ static 'network_1/network1.png' }}" class="rounded mx-auto d-block" width = "200"/>
            <p> In part 3:  </p>
            A sees:
            <ul>
              <li> how many points B and C declared to send to A in Part 1. </li>
              <li> how many points they actually  sent to A in Part 2 (eye symbol).</li>
              <li> B's and C's stated intentions to each other in Part 1. </li>
              <li> their actual decisions in Part 2 (envelope symbol). </li>
            </ul>
            B and C see:
            <ul>
              <li> each other's stated intentions in Part 1. </li>
              <li> A's stated intention towards each of them in Part 1.</li>
            </ul>
            </div>

    {% elif network == 2 %}
      <div class="col-md-6 text-justify small border p-3" style="font-size: 0.85rem;">

        <img src="{{ static 'network_1/network2.png' }}" class="rounded mx-auto d-block" width = "200"/>
          <p> In part 3:  </p>
          A sees:
          <ul>
            <li> how many points B and C declared to send to A in Part 1. </li>
            <li> how many points they actually  sent to A in Part 2 (eye symbol).</li>
            <li> B's and C's stated intentions to each other in Part 1. </li>
            <li> their actual decisions in Part 2 (envelope symbol). </li>
          </ul>
          B sees:
          <ul>
            <li> how many points C has stated to send to B in Part 1.</li>
            <li> how many points A has stated to send to B in Part 1. </li>
            <li> how many points A actually sent to B in Part 2 (eye symbol). </li>
          </ul>
          C sees:
          <ul>
            <li> how many points A and B have stated to send to C in Part 1. </li>
          </ul>
      </div>

      {% elif network == 3 %}
        <div class="col-md-6 text-justify small border p-3" style="font-size: 0.85rem;">

          <img src="{{ static 'network_1/network3.png' }}" class="rounded mx-auto d-block" width = "200"/>
            <p> In part 3:  </p>
            A sees:
            <ul>
              <li> how many points B and C declared to send to A in Part 1. </li>
              <li> how many points they actually  sent to A in Part 2 (eye symbol).</li>
              <li> B's and C's stated intentions to each other in Part 1. </li>
              <li> their actual decisions in Part 2 (envelope symbol). </li>
            </ul>
            B sees:
            <ul>
              <li> how many points C has stated to send to B in Part 1. </li>
              <li> how many points A has stated to send to B in Part 1. </li>
              <li> how many points A actually sent to B in Part 2 (eye symbol). </li>
            </ul>
            C sees:
            <ul>
              <li> how many points B has stated to send to C in Part 1. </li>
              <li> how many points A has stated to send to C in Part 1. </li>
              <li> how many points A actually sent to C in Part 2 (eye symbol). </li>
            </ul>
        </div>

        {% else %}
          <div class="col-md-6 text-justify small border p-3" style="font-size: 0.85rem;">

            <img src="{{ static 'network_1/network4.png' }}" class="rounded mx-auto d-block" width = "200"/>
              <p> In part 3:  </p>
              A sees:
              <ul>
                <li> how many points B and C declared to send to A in Part 1 </li>
                <li> how many points they actually  sent to A in Part 2 (eye symbol).</li>
                <li> B's and C's stated intentions to each other in Part 1 </li>
                <li> their actual decisions in Part 2 (envelope symbol). </li>
              </ul>
              B sees:
              <ul>
                <li> how many points C has stated to send to B in Part 1. </li>
                <li> how many points A has stated to send to B in Part 1,
                <li> how many points A actually sent to B in Part 2 (eye symbol). </li>
              </ul>
              C sees:
              <ul>
                <li> how many points B has stated to send to C in Part 1. </li>
                <li> how many points A has stated to send to C in Part 1
                <li> how many points A actually sent to C in Part 2 (eye symbol). </li>
              </ul>
              B and C
              <ul>
                <li>receive information from each other about A’s behaviour towards each of them, both in Part 1 and Part 2 (envelope symbol). </li>
              </ul>
          </div>

      {% endif %}
  </div>


    <div class="row mt-4">
    <div class="col-sm-12 text-center">
            <button type="submit" id="btn_continue" class="btn btn-primary btn-lg">Next</button>
    </div>
    </div>

    {% endblock %}

    {% block scripts %}
    <script>
    $(document).ready(function(){
    });
    $("#btn_submit").click(function(){
    $("#id_proceed").val(1);
    $("#form").submit()
    });

    </script>



    {% endblock %}
